[data-md-color-scheme="slate"] {
    --md-code-fg-color: #d4c166
}

[data-md-color-scheme="default"] {
    --md-code-fg-color: #000000
}

.md-typeset table:not([class]) {
    border: none;
    border-top: .05rem solid var(--md-typeset-table-color);
    border-bottom: .05rem solid var(--md-typeset-table-color);
    border-right: .05rem solid var(--md-typeset-table-color);
}

.md-typeset table:not([class]) th {
    font-size: 0.72rem;
    color: var(--md-code-fg-color)
}

th, td {
    border-inline-start: .05rem solid var(--md-typeset-table-color);
}

table {
    border-collapse: separate !important;
}

.md-typeset {
    --md-typeset-table-color: var(--md-primary-fg-color);
}

@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.15);
    }
}

.heart {
    color: #e92063;
    animation: heart 1000ms infinite;
}